[Unit]
Description=CAPE WSGI app using gunicorn for CAPE-CCC environment
Documentation=https://github.com/kevoreilly/CAPEv2
Wants=cape.service
After=cape.service

[Service]
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/CAPEv2/web
#ExecStart=/usr/bin/python3 -m poetry run python manage.py runserver_plus 0.0.0.0:8000 --traceback --keep-meta-shutdown
ExecStart=/usr/local/bin/gunicorn -b 127.0.0.1:8001 web.wsgi
User=cape
Group=cape
Restart=always
RestartSec=5m
# In case if you behind of proxy, set your proxy in /etc/environment and uncomment next line
# EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target